html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', serif;
    font-size: 1.6rem;
}


p{
    font-family: 'Roboto', serif;
}



.list-group-item{
    color: rgb(208, 37, 14);
    list-style: none;
    margin: .6rem 0rem;
}

.menu {
    list-style: none;
    display: inline-block;
    padding-right: 1.5rem;
    font-size: 2rem;
}

.menu a{
    text-decoration: none;
    color: #1a1a1a;
}

.menu a:hover{
    border-bottom: 1px solid rgb(208, 37, 14);
    transition: .3s;
    color: rgb(208, 37, 14);
}

.main-container{
    width: 75%;
    max-width: 1200px;
    margin: auto;
}
