:root {
    --secondary: #0CAADC;
    --tertiary: #eeecec;
    --dark: #454545;


}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', serif;
    font-size: 1.6rem;
    color: var(--dark);
}


p{
    font-family: 'Roboto', serif;
    color: var(--dark);
    margin: 1.5rem 0;
}

.news{
    background-color: var(--tertiary);
    padding: 2rem;
}

.message  {
    font-size: 2rem;
    color: #ff3d3d;
}

header h1 {

}

h2 {
    width: max-content;
    width: -moz-max-content;
    border-bottom: 3px solid var(--secondary);
    padding-top: 1rem;
    margin-top: 1rem;
    font-size: 3.7rem;
}


.main-container{
    width: 70%;
    max-width: 1200px;
    margin: auto;
    background-color: white;

}

.grey{
    background-color: var(--tertiary);
    height: 100%;
}
.image {
    text-align: center;
}
.image img{
    width: 15rem;
    height: auto;
    margin: 1.5rem 0;
}


.col-1{
    border-top: 1px solid #e0dddc;
}

.flex-container{
    display: flex;
    flex-direction: row;
}




.list-group-item{
    color: var(--dark);
    list-style: none;
    margin: .6rem 0rem;
}

.list-group-error{
    color: red;
    list-style: none;
    margin: .6rem 0rem;
}


.navcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

}

.main-menu{
    margin: 2rem 0;

}
.menu {
    list-style: none;
    display: inline-block;
    padding-right: 1.5rem;
    font-size: 2rem;
}

.menu a{
    text-decoration: none;
    color: #1a1a1a;
    padding-bottom: .2rem;
}

.menu a:hover{

    border-bottom: 2px solid var(--dark);
    transition: .1s;

}

.side-menu ul{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

}
.side-menu{
    margin-top: 4.5rem;
    margin-right: 4rem;
    width: 16rem;
    background-color: var(--tertiary);
    height:23rem;

}

.side-menu li {
    margin: 1rem 0;
    padding-left: 1.5rem;

}
.side-menu li a:hover {
    border-bottom: 2px solid var(--dark);
    transition: .1s;

}

input[type="submit" i]{
    background-color: var(--secondary);
    color: white;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: .2rem;
    border: 0;
}

main {
    height: 75rem;
}

.main-body{
    width: 65%;
}

.header-container {
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #e0dddc;
}

.header {
    width: 70%;
    max-width: 1200px;
    margin: auto;
    color: var(--dark);
    font-weight: 200;
    padding: 1rem 0;
    font-size: 1.2rem;
}
