/* <!--Joseph Ketterer
Jkette01
Web Programming with PHP
Tobi Brodie --> */

:root {
    --secondary: #0095de;
    --tertiary: #eeeeee;
    --dark: #1a1a1a;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', serif;
    font-size: 1.5rem;
    color: var(--dark);
}


p{
    font-family: 'Roboto', serif;
    color: var(--dark);
    margin: 1.5rem 0;

}
p:last-child{
    margin: 0;
    padding-bottom: 2rem;

}

h1{
    font-family: 'Roboto Slab', serif;
}

.news{
    background-color: var(--tertiary);
    padding: 2rem;
    margin: 2rem 0;
}

.news p{
  padding: 0;
}

.message  {
    list-style: none;
    margin: .6rem 0rem;
    color: #fc4a4a;
    width: 95%;
    padding: .4rem;
    border-radius: .1rem;
    font-size: 2rem;
    font-weight: 900;

}

.newuser{
    font-size: 2rem;
    color: var(--secondary);
    font-weight: 900;
}

.line{
    width: 80%;
    margin:  4rem auto 0 auto;
    border-top: 1px solid var(--secondary);
    padding-bottom: 2rem;
}



h2 {
    font-family: 'Roboto Slab', serif;
    width: max-content;
    width: -moz-max-content;
    border-bottom: 3px solid var(--secondary);
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.8rem;

}

h3{
    font-family: 'Roboto Slab', serif;
    margin: 2rem 0;
    font-size: 2rem;
    width: max-content;
    width: -moz-max-content;

}

h4{
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    color: var(--dark);
    margin-bottom: 1rem;
    text-decoration: underline;

}


/* header styles */
.header-container{
    border-bottom: 1px dashed var(--secondary);
    padding: 1rem 0;


}
.header{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

/* main layout */

.main-container{
    width: 75%;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    padding: 0 5rem;

}

.grey{
    background-color: var(--tertiary);
    height: 100%;
}
.image {
    text-align: center;
}
.image img{
    width: 15rem;
    height: auto;
    margin: 1.5rem 0;
}

.container{
    min-height: 70rem;
}

.main-body{width: 75%;}

.news-snippet{
    background-color: #fff3d4;
    width: 18rem;
    height: 25rem;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* results page  */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}




/*-----------  */
/* list group- errors, correct data */
.list-group-item{
    color: var(--dark);
    list-style: none;
    margin: .6rem 0rem;
}

.list-group-error{
    background-color: #fc4a4a;
    list-style: none;
    margin: .6rem 0rem;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    padding: .2rem 1rem;
    border-radius: .1rem;
}

/* main Menu and nav div */
.navcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

}

.main-menu{
    margin: 2rem 0;
    font-size: 2rem;

}
.menu {
    list-style: none;
    display: inline-block;
    padding-right: 1.5rem;

}

.menu a{
    text-decoration: none;
    color: #1a1a1a;
    padding-bottom: .2rem;
}

.menu a:hover{

    border-bottom: 2px solid var(--dark);
    transition: .1s;

}
/*Side menu  */

.side-menu ul{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

}
.side-menu{
    margin-top: 2.5rem;
    margin-right: 4rem;
    width: 14.5rem;
    background-color:  white;
    height: auto;
}

.side-menu li {
    margin: 1rem 0;
    padding-left: 1.5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--tertiary);

}
.side-menu li a:hover {
text-decoration: underline;
border: 0;
}


.side-menu h3{
    margin: .5rem 1rem;
    font-size: 2rem;

    padding-top: 1rem;
}


/*------------FORMS  --------*/

fieldset{
    border: 0;
    padding: 3rem;
    border-radius: .2rem;
    background-color: #e2f0f6;
    width: 60%;
}


fieldset p{
    padding: 0;
    margin: 0;
}

label{
    margin-right: 1rem;
}

input[type="submit" i]{
    background-color: var(--dark);
    color: white;
    padding: 0rem 5rem;
    margin: 3.5rem 0;
    border: 0;
    font-size: 1.8rem;
    height: 4.5rem;
    bottom: 0;
    width: 18rem;

}
input[type="submit" i]:hover{
    background-color: var(--secondary);
    color: var(--dark);
    transition: .3s;

}

.button1{
    background-color: var(--secondary);
    color: white;
    padding: 1.3rem 4rem;
    margin: 1rem 0 3rem 0;
    width: 18rem;
    border: 0;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-decoration: none;
}

.button1:hover{
    background-color: var(--dark);
    transition: .3s;

}

section a {
    text-decoration: none;
    color: var(--dark);
    cursor: pointer;
    font-weight: 900;
    text-decoration: underline;
}



input{
    margin: .35rem 0;
    padding: .25rem;
    height: 2.5rem;
    width: 18rem;
    border: 1px solid var(--dark);
    font-family: 'Roboto', serif;
    font-size: 1.5rem;
    color: var(--dark);
}

.field{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 55rem;

}

.forminput{
    display: flex;
    justify-content: space-between;
    width: 28rem;
    align-items: center;



}
.adduserforminput{
    display: flex;
  justify-content: space-between;

    width: 33rem;
    align-items: center;
}


.field p{
    font-size: 1.1rem;
    margin-left: 1rem;
    padding: 0;
}


/*--------------- Status updates--------- */
.status{
    width: auto;

    margin-right: 2%;
}

.status p {
    background-color: #e2f0f6;
    padding: 1rem;
    border: dotted 1px gray;
    margin: 0;
    text-align: center;
    font-size: 1.4rem;

}

.logout p{
    background-color: #ededed;
    padding: 1rem;
    border: dotted 1px gray;
    margin: 0;
    font-size: 1.4rem;

}

.logout{
    width: auto;

    margin-right: 2%;
}

/*Footer styles  */
footer{
    width: 75%;
    margin: auto;
    max-width: 1200px;
}

footer p{
    color: black;
    margin: 0;
    padding-top: 2rem;
    max-width: 1200px;
}

.footer-container{
    height: 12rem;
    padding-top: 1rem;
    background-color: var(--tertiary);
    width: 100%;
    border-top: 1px solid  #e0dddc;
}
