/* <!--Joseph Ketterer
Jkette01
Web Programming with PHP
Tobi Brodie --> */

:root {
    --secondary: #0095de;
    --tertiary: #eeecec;
    --dark: #1a1a1a;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', serif;
    font-size: 1.6rem;
    color: var(--dark);
}


p{
    font-family: 'Roboto', serif;
    color: var(--dark);
    margin: 1.5rem 0;
}

.news{
    background-color: var(--tertiary);
    padding: 2rem;
}

.message  {

    list-style: none;
    margin: .6rem 0rem;
    color: #fc4a4a;
    width: 95%;
    padding: .4rem;
    border-radius: .1rem;
    font-size: 2rem;

}

.newuser{
    font-size: 2rem;
    color: var(--secondary);
    font-weight: 900;
}

.line{
    width: 30%;
margin: auto;
border-top: 4px solid var(--secondary);
height: 1rem;
/* margin-top: 3rem; */
padding-bottom: 3rem;
}



h2 {
    width: max-content;
    width: -moz-max-content;
    border-bottom: 3px solid var(--secondary);
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

h3{
    margin: 4rem 0;
    width: max-content;
    width: -moz-max-content;

}

.main-container{
    width: 75%;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    padding: 0 5rem;

}

.grey{
    background-color: var(--tertiary);
    height: 100%;
}
.image {
    text-align: center;
}
.image img{
    width: 15rem;
    height: auto;
    margin: 1.5rem 0;
}


.col-1{

}

.flex-container{
    display: flex;
    flex-direction: row;
}

.list-group-item{
    color: var(--dark);
    list-style: none;
    margin: .6rem 0rem;
}

.list-group-error{
    background-color: #fc4a4a;
    list-style: none;
    margin: .6rem 0rem;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    padding: .4rem;
    border-radius: .1rem;
}


.navcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

}

.main-menu{
    margin: 2rem 0;

}
.menu {
    list-style: none;
    display: inline-block;
    padding-right: 1.5rem;
    font-size: 2rem;
}

.menu a{
    text-decoration: none;
    color: #1a1a1a;
    padding-bottom: .2rem;
}

.menu a:hover{

    border-bottom: 2px solid var(--dark);
    transition: .1s;

}

.side-menu ul{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

}
.side-menu{
    margin-top: 4.5rem;
    margin-right: 4rem;
    width: 16rem;
    background-color: var(--tertiary);
    height:23rem;

}

.side-menu li {
    margin: 1rem 0;
    padding-left: 1.5rem;

}
.side-menu li a:hover {
    border-bottom: 2px solid var(--dark);
    transition: .1s;

}


main {
    min-height: 65rem;
}

.main-body{
    width: 65%;
}
/* header */
.header-container {

    width: 100%;
    border-bottom: 1px dashed var(--secondary);
    background-color: white;
}

.header {
    width: 75%;
    max-width: 1200px;
    margin: auto;
    color: var(--dark);
    font-weight: 200;
    padding: 1rem 0;
    font-size: 1.2rem;
}
/*------------------------------*/
/* Table css */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* form css */

fieldset{
    border: 0;

    padding: 1rem;
    border-radius: .2rem;
}

fieldset p{
    padding: 0;
    margin: 0;



}

label{
    margin-right: 1rem;
    margin-top: .35rem;
}

input[type="submit" i]{
    background-color: var(--secondary);
    color: white;
    padding: 1rem 5rem;
    margin: 3.5rem 0;
    border: 0;
    font-size: 1.8rem;

}

.button1{
    background-color: var(--secondary);
    color: white;
    padding: 1rem 4rem;
    margin: 2rem 0;

    border: 0;
    font-size: 1.8rem;
}
input{
    margin: .35rem 0;
    padding: .25rem;
}

.field{
    display: flex;
    width: 45rem;
    justify-content: flex-start;
    flex-direction: row;

}

.login-field{
    width: 70%;
}

.field p{
    font-size: 1.1rem;
    vertical-align:baseline;
    margin-top: .8rem;
    margin-left: .4rem;
}



.status p {

    background-color: var(--tertiary);
    padding: 1rem;
    border: dotted 1px gray;
}


/*Footer styles  */
footer{
    width: 75%;
    margin: auto;

}

footer p{
    color: black;
    margin: 0;
    padding-top: 2rem;
}

.footer-container{
    height: 12rem;
    padding-top: 1rem;
    background-color: var(--tertiary);
    width: 100%;
    border-top: 1px solid  #e0dddc;
}
